<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MCPF</title>
  </head>
  <body>

      <!-- HEADER -->

      <div class="logoBar">

        <div class="innerLogo">

            <div class="space">
                  <a href="index.html"> <img id="whiteLogo" src="media/white_logo_mcpf.png" alt=""> </a>
            </div>

                  <p class="space title">Morton Cure Paralysis Fund</p>


            <!-- <div class="tagLine"> -->
                  <p class="space tagLine" id="flexEnder">That All May Walk Again</p>
            <!-- </div> -->

        </div>
      </div>
      <div class="menuBar">

        <div class="innerMenu">

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutsci.html" id="menuA"><p class=" menuText hoverMenu">About SCI</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutmcpf.html" id="menuA"><p class=" menuText hoverMenu">About MCPF</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="news.html" id="menuA"><p class=" menuText hoverMenu">News</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="resources.html" id="menuA"><p class=" menuText hoverMenu">Resources</p></a>
                </div>
           </div>

           <div class="innerMenuInner">
               <div class="innerMenuInnerMenu">
                  <a href="help.html" id="menuA"><p class=" menuText2 hoverMenu">Get Involved</p></a>
                </div>
            </div>


        </div>
      </div>


<!-- CONTENT -->

  <div class="headerImageSCI">
      <!-- <div class="imgChanger"></div> -->
      <div class="buttonposition">
        <a href="help.html" id="noDeco"><button class="headerButton buttonTop">Get Involved Now!</button></a>
      </div>
      <!-- <img class="oldPeople" src="media/rehabCouple.jpg" alt=""> -->
  </div>

    <!-- Content Start -- Page of Contents -->

    <div class="contentListContainer">

      <div class="contentHead">
        <a id="noDeco" href="#facingInjury"><h3 class="contentHeadText">Facing Spinal Cord Injury</h3></a>
      </div>

      <div class="contentHeadWrapper">
        <a id="noDeco" href="#sciBasics"><h3 class="contentHeadText">Spinal Cord Injury Basics</h3></a>
        <a id="noDeco" href="#whatIs"><p class="secondaryHead">What is Spinal Cord Injury?</p></a>
        <a id="noDeco" href="#whatIsCord"><p class="secondaryHead">What is the Spinal Cord?</p></a>
        <a id="noDeco" href="#howDoes"><p class="secondaryHead">How does the Spinal Cord work?</p></a>
        <a id="noDeco" href="#patterns"><p class="secondaryHead">Patterns of Spinal Cord Injury</p></a>
      </div>

      <div class="contentHead">
        <a id="noDeco" href="#levels"><h3 class="contentHeadText">Spinal Cord Injury Levels and Classifications</h3></a>
        <a id="noDeco" href="#vertebral"><p class="secondaryHead">Vertebral vs. Cord Segmental Levels</p></a>
        <a id="noDeco" href="#motor"><p class="secondaryHead">Sensory versus Motor Levels</p></a>
        <a id="noDeco" href="#injuryLevels"><p class="secondaryHead">Spinal Cord Injury Levels</p></a>
        <a id="noDeco" href="#incomplete"><p class="secondaryHead">Complete versus Incomplete Injury</p></a>
        <a id="noDeco" href="#classys"><p class="secondaryHead">Classification of Spinal Cord Injury Severity</p></a>
        <a id="noDeco" href="#conclusion"><p class="secondaryHead">Conclusion</p></a>
      </div>

    </div>

<div class="hr"></div>

    <div class="contentContainer">
      <div class="contentWrapper">
        <a id="facingInjury"><h3 class="sectionHeader">Facing Spinal Cord Injury</h3></a>
        <p class="sectionContent">Dana Reeve said, "Spinal Cord Injury is the cruelest of all traumas." An otherwise healthy, active person is instantly thrust into a life-altering existence. Damage to the spinal cord can cause paralysis, loss of sensation and the loss of bladder, bowel and sexual function. Further, it can be accompanied by intense pain, spasticity (muscle jerking) or hypersensitivity (intense itching or burning of the skin in reaction to touch).
          <br><br>
          Throughout human history, paralysis due to central nervous system damage, which includes the brain and spinal cord, was considered permanent. However, research breakthroughs over the last two decades has changed that thinking. A cure is now inevitable. As with other research-based objectives, how soon a cure is found is a matter of money and commitment. We, at the Morton Cure Paralysis Fund, are committed to accelerating the pace of research to make that day come as soon as possible.
          <br><br>
          The following sections will provide information designed to help the newly injured, their friends and their family members understand more about spinal cord injury, what it is, how it affects people, and the hope that research is bringing.</p>
      </div>
    </div>

    <div class="midPicSCI1"></div>

    <!-- More Content!! -->

    <div class="contentContainer">
      <div class="contentWrapper">
        <a id="sciBasics"><h3 class="sectionHeader">Spinal Cord Injury Basics</h3></a>
        <a id="whatIs"><p class="sectionContent"><span class="boldSection">What is spinal cord injury?</span></a> <br><br>

        Many misconceptions abound concerning spinal cord injury. For example, many people believe that the spinal cord below the injury site dies after injury. Others think that the injured spinal cord is like a cut telephone wire and can be fixed by reconnecting the cut ends. Some people think that the vertebral column is the spinal cord. Even doctors have misleading and inaccurate ideas about spinal cord injury. For example, many doctors casually use the word transection to refer to severely injured spinal cords. The word should only be applied to the extremely rare situation when the spinal cord has been cut and the cut ends are separated.
        <br><br>
        Spinal cord injury usually results from trauma to the vertebral column. Displaced bone or disc then compresses the spinal cord. Spinal cord injury can occur without obvious vertebral fractures and you can have spinal fractures without spinal cord injury. It can also result from loss of blood flow to the spinal cord. Many people may have had mild spinal cord injury without thinking that it is spinal cord injury. For example, over a million people per year get “whiplash” in car accidents; they often have neck pain, weakness, and sensory loss that may last days or even months. Athletes who play football or other contact sports often suffer a transient loss of function that they call a “stinger,” i.e. paralysis and sensory loss for minutes or even hours. Sometimes, people can get spinal cord injury without any obvious cause, a condition called transverse myelitis.
        <br><br>
        Spinal cord injuries are usually defined by vertebral level and neurological level, as well as severity. Vertebral levels are indicated by which bony vertebrae have been fractured or show damage. Multiple bony vertebra may be injured. For example, an injury that causes the C5 vertebra to slip relative to C4 may be called a C4/C5 injury because it compresses the C4 and C5 spinal cord. Spinal cord levels do not necessary correspond to vertebral levels. For example, the C5 spinal cord lies in the C4 vertebral segment. The cord ends at the L1 vertebral level even though the spinal roots continue and exit between the appropriate vertebral segments.
        <br><br>
        For many years, there was no standardized way of referring to spinal cord injury levels. Surgeons generally referred to the injury level by the vertebrae that are damaged. Neurologists and physiatrists, however, tend to refer to the level of spinal cord injury based on the neurological loss. Neurologists identify the level of injury as the first segmental level that shows sensory or motor loss. In contrast, physiatrists identify injury level from lowest spinal cord level that has normal motor and sensory function.</p>

        <a id="whatIsCord"><p class="sectionContent"><span class="boldSection">What is the Spinal Cord?</span></a> <br><br>

          This may seem to be a silly question, but until people get a spinal cord injury or know somebody who has, most pay little attention to their spinal cords. Most people don’t know the different parts of the spinal cord, what each part does, and how the spinal cord transmits sensory and motor information. Many think that the spinal cord conducts information like a telephone wire and the spinal cord can be fixed by reconnecting it. Some people mistakenly believe that the spinal cord is the vertebral column. While almost everybody knows that spinal cord injury causes paralysis, many are not aware that the spinal cord also controls the bladder and bowel, sexual function, blood pressure, skin blood flow, sweating, and temperature regulation.
        <br><br>
          The spinal cord connects the brain to the body. The spinal cord resides in a bony spinal or vertebral column that has 24 segments. Seven vertebra in the neck are called cervical (C1-C7), twelve chest or thoracic (T1-T12) segments by the rib cage, five segments for the lower back or lumbar (L1-L5), and five segments form the tail or sacral (S1-S5) vertebrae. The vertebral bodies are in the front of the spinal column. Spinal discs are located between the vertebral bodies. The front of the spinal cord is referred to as anterior while the back is referred to as posterior. The sides of the spinal cord are called lateral. Note that in animals that walk on four legs, posterior is dorsal and anterior is ventral.
        <br><br>
          Each segment has four spinal roots (left and right, posterior and anterior) that send and receive information from each side of the body. Posterior roots receive sensation while anterior roots send motor signals to muscles. For example, the C1-C3 segments send and receive information from the back of the head and neck, C4 covers the shoulder and deltoid muscles, C5 the biceps, C6 the wrist extensors, C7 the triceps, C8 the wrist flexors, and T1 the intrinsic muscles of the hand. The spinal roots leave the vertebral column between the bony segments through openings in the vertebral column called foramina. Note that there are only seven cervical vertebrae but eight sets of cervical roots because the C1 roots are between the skull and C1.
        <br><br>
          The spinal cord is shorter than the vertebral column and occupies the spinal canal from the C1 to L1 vertebral levels. In general, the bony vertebral segments are lower than the spinal cord levels. The spinal cord stops just below the L1 vertebral level and only spinal roots are present from L1 to S5 vertebral spinal column. The end of the cord is called the conus. Spinal roots below the conus are called the cauda equina because they resemble a horse’s tail.</p>

          <a id="howDoes"><p class="sectionContent"><span class="boldSection">How does the Spinal Cord work?</span></a> <br><br>

            Neurons (nerve cells) in the brain, spinal cord, and peripheral nerves send axons (nerve fibers) up and down the spinal cord in spinal tracts. These spinal tracts are called white matter because axons are coated with a membrane called myelin, which appears white. In the spinal cord, white matter is usually situated close to the surface of the cord, arranged into several columns called the anterior, posterior, and lateral columns. The spinal cord contains neurons located in the middle part of the spinal cord. The areas of the spinal cord that contain neurons are called gray matter. The gray matter is most abundant in the parts of the spinal cord that connect to the arms and legs, called the cervical and lumbosacral enlargements.
            <br><br>
            The spinal cord transmits signals for sensations and to control movement, as well as breathing, bladder, bowel, sweating, blood pressure, sexual, and other essential functions of the body. The spinal cord contains neuronal circuitry for reflexes that control all these functions. Over 20 million axons ascend and descend in the human spinal cord, organized into spinal tracts named according to their source and destination. For example, the spinal tract that sends axons from the cerebral cortex to the spinal cord is called the corticospinal tract. Likewise, the tract that sends axons from the red nucleus in the midbrain to the spinal cord is called the rubrospinal tract. The sensory tract that transmits pain and temperature sensation from the spinal cord to the thalamus is called the spinothalamic tract. Some tracts, however, are named by their position. For example, the posterior column transmits sensory information from the spinal roots to the brainstem.
            <br><br>
            Neurons that send axons to muscles are called motoneurons while neurons that send axons to other neurons are called interneurons. Motoneurons and interneurons receive information from descending axons and sensory axons. When you activate sensory input to the spinal cord by tapping a tendon, the activity turns on motoneurons that cause the muscle of that tendon to contract. This is called a monosynaptic reflex. To signal the muscles to move, the brain sends information directly to motoneurons or indirectly through interneurons that can either excite or inhibit other neurons.
            <br><br>
            Sensory neurons send axons from the spinal cord to the brain. Some sensory axons go from peripheral nerve neurons in posterior sensory ganglia located just outside of the spinal column. Posterior sensory ganglion neurons send a T-shaped axon to the body where it collects information like touch and movement while the other end goes into the spinal cord and branches. One branch goes into the gray matter where it activates motoneurons and the other end goes up the posterior column all the way to the brainstem.
            </p>

            <a id="patterns"><p class="sectionContent"><span class="boldSection">Patterns of Spinal Cord Injury</span></a> <br><br>

              Some patterns of spinal cord injury have special names.
              <br><br>
              In the “Central Cord Syndrome”, arm function is affected more than the legs. This paradoxical condition is attributed to damage to the central part of the spinal cord.
              Recent studies of central cord syndrome suggest that the syndrome may be associated with destruction of the lateral spinal tracts.
              <br><br>
              “Brown-Sequard Syndrome” refers to injuries limited to one side of the cord. People have weakness and loss of touch sense in one leg but loss of pain and temperature
               sensation in the other side.
               <br><br>
              “Anterior Cord Syndrome” refers to the condition when sensation is preserved but motor function is absent below the injury site.
              <br><br>
              “Posterior Cord Syndrome” refers to the condition when motor function is preserved in the absence of sensation.
              <br><br>
              “Conus Medullaire” refers to injury of the conus or lower tip of the spinal cord. This damages the lower lumbar and sacral spinal cord segments.
              <br><br>
              “Cauda Equina Injury” refers to the condition when the damage is limited to the spinal roots below L1.
              </p>

            </div>
          </div>

<div class="midPicSCI2"></div>

<div class="contentContainer2">
  <div class="contentWrapper">
      <a id="levels"><h3 class="sectionHeader">Spinal Cord Injury Levels and Classifications</h3></a>

      <p class="sectionContent">
          People with spinal cord injury are often told that they have an injury at a given spinal cord level. They are often told that the injury is "complete" or "incomplete." They sometimes are told that they have a bony fracture or other involvement of one or more spinal vertebral levels. They may also be told that they are classified according to the American Spinal Injury Association (ASIA) Classification, as an ASIA A, B, C, D, or E. What are the meanings of the different spinal cord injury levels, the definition of complete and incomplete injury, and the different classification of spinal cord injury? In the early 1990's, there was no single definition of level, completeness of injury, or classification. Doctors frequently had different definitions of spinal cord injury levels and complete and incomplete injuries. In this article, I will try to explain the currently accepted definitions of spinal cord injury levels and classification.
    </p>
    <a id="vertebral"><p class="sectionContent"><span class="boldSection">Vertebral vs. Cord Segmental Levels</span></a> <br><br>
          The spinal cord is situated within the spine. The spine consists of a series of vertebral segments. The spinal cord itself has "neurological" segmental levels which are defined by the spinal roots that enter and exist the spinal column between each of the vertebral segments. As shown in the figure to the left (adapted from a spinal anatomy web site at Emory University) the spinal cord segmental levels do not necessarily correspond to the bony segments. The vertebral levels are indicated on the left side while the cord segmental levels are listed for the cervical (red), thoracic (green), lumbar (blue), and sacral (yellow) cord.
          <br><br>
          Vertebral segments. There are eight cervical (neck), 12 thoracic (chest), five lumbar (back), and five sacral (tail) vertebrae. The spinal cord sends roots that exit the spinal canal between vertebral bodies. Spinal cord segmental levels are defined by their roots but are not always situated at the corresponding vertebral levels. For example, the C8 cord segment is situated in the C7 vertebra while the T12 cord is situated in the T8 vertebra. The lumbar cord is situated between T9 and T11 vertebrae. The sacral cord is situated between the T12 to L2 vertebrae, as shown.
          <br><br>
          Spinal Roots. The spinal roots for C1 exit the spinal column at the atlanto-occiput junction. The spinal roots for C2 exit the spinal column at the atlanto-axis. The C3 roots exit between C2 and C3. The C8 root exits between C7 and T1. The first thoracic root or T1 exits the spinal cord between T1 and T2 vertebral bodies. The T12 root exits the spinal cord between T1 and L1. The L1 root exits the spinal cord between L1 and L2 bodies. The L5 root exits the cord between L1 and S1 bodies.
          <br><br>
          The Cervical Cord. The first and second cervical segments are special because they hold and pivot the head. The back of the head is called the Occiput. The first cervical vertebra, upon which the head is perched, is sometimes called Atlas, after the Greek mythological figure who held up earth. The second cervical vertebra is called the Axis, upon which Atlas pivots. The interface between the occiput and the atlas is called the atlanto-occiput junction. The interface between the first and second vertebra is called the atlanto-axis junction. The C3-4 cord contains the phrenic nucleus. The cervical cord innervates the deltoids (C4), biceps (C4-5), wrist extensors (C6), triceps (C7), wrist extensors (C8), and hand muscles (C8-T1).
          <br><br>
          The Thoracic Cord. The thoracic vertebral segments are defined by those that have a rib. These vertebral segments are also very special because they form the back wall of the pulmonary cavity and the ribs. The spinal roots form the intercostal (between the ribs) nerves that run on the bottom side of the ribs and connect to the intercostal muscles and associated dermatomes.
          <br><br>
          The Lumbosacral Cord. The lumbosacral vertebrae form the remainder of the segments below the vertebrae of the thorax. The lumbosacral spinal cord, however, starts at about T9 and continues only to L2. It contains most of the segments that innervate the hip and legs, as well as the buttocks and anal regions.
          <br><br>
          The Cauda Equina. In human, the spinal cord ends at L2 vertebral level. The tip of the spinal cord is called the conus. Below the conus, there is a spray of spinal roots that is frequently called the cauda equina or horse's tail. Injuries to T12 and L1 vertebra damage the lumbar cord. Injuries to L2 frequently damage the conus. Injuries below L2 usually involve the cauda equina and represent injuries to spinal roots rather than the spinal cord proper.
          <br><br>
          In summary, spinal vertebral and spinal cord segmental levels are not necessarily the same. In the upper spinal cord, the first two cervical cord segments roughly match the first two cervical vertebral levels. However, the C3 through C8 segments of the spinal cords are situated between C3 through C7 bony vertebral levels. Likewise, in the thoracic spinal cord, the first two thoracic cord segments roughly match first two thoracic vertebral levels. However, T3 through T12 cord segments are situated between T3 to T8. The lumbar cord segments are situated at the T9 through T11 levels while the sacral segments are situated from T12 to L1. The tip of the spinal cord or conus is situated at L2 vertebral level. Below L2, there are only spinal roots, called the cauda equina.
    </p>

    <a id="motor"><p class="sectionContentSmall"><span class="boldSection">Sensory vs. Motor Levels</span></a> <br><br>
            A dermatome is a patch of skin that is innervated by a given spinal cord level. Figure 2 is taken from the ASIA classification manual, obtainable from the ASIA web site. Each dermatome has a specific point recommended for testing and shown in the figure. After injury, the dermatomes can expand or contract, depending on plasticity of the spinal cord.
            <br><br>
            C2 to C4. The C2 dermatome covers the occiput and the top part of the neck. C3 covers the lower part of the neck to the clavicle (the horizontal bone that goes to the shoulder. C4 covers the area just below the clavicle.
            <br><br>
            C5 to T1. These dermatomes are all situated in the arms. C5 covers the lateral arm at and above the elbow. C6 covers the forearm and the radial (thumb) side of the hand. C7 is the middle finger, C8 is the lateral aspects of the hand, and T1 covers the medial side of the forearm.
            <br><br>
            T2 to T12. The thoracic covers the axillary and chest region. T3 to T12 covers the chest and back to the hip girdle. The nipples are situated in the middle of T4. T10 is situated at the umbilicus. T12 ends just above the hip girdle.
            <br><br>
            L1 to L5. The cutaneous dermatome representating the hip girdle and groin area is innervated by L1 spinal cord. L2 and 3 cover the front part of the thighs. L4 and L5 cover medial and lateral aspects of the lower leg.
            <br><br>
            S1 to S5. S1 covers the heel and the middle back of the leg. S2 covers the back of the thighs. S3 cover the medial side of the buttocks and S4-5 covers the perineal region. S5 is of course the lowest dermatome and represents the skin immediately at and adjacent to the anus.
            <br><br>
            Ten muscle groups represent the motor innervation by the cervical and lumbosacral spinal cord. The ASIA system does not include the abdomenal muscles (i.e. T10-11) because the thoracic levels are much easier to determine from sensory levels. It also excludes certain muscles (e.g. hamstrings) because the segmental levels that innervate them are already represented by other muscles.
            <br><br>
            Arm and hand muscles. C5 represents the elbow flexors (biceps), C6 the wrist extensors, C7 the elbow extensors (triceps), C8 the finger flexors, and T1 the little finger abductor (outward movement of the pinky finger).
            <br><br>
            Leg and foot muscles. The leg muscles represent the lumbar segments, i.e. L2 are the hip flexors (psoas), L3 the knee extensors (quadriceps), L4 the ankle dorsiflexors (anterior tibialis), L5 the long toe extensors (hallucis longus, S1 the ankle plantar flexors (gastroncnemius).
            <br><br>
            The anal sphincter is innervated by the S4-5 cord and represents the end of the spinal cord. The anal sphincter is a critical part of the spinal cord injury examination. If the person has any voluntary anal contraction, regardless of any other finding, that person is by definition a motor incomplete injury.
            <br><br>
            It is important to note that the muscle groups specified in the ASIA classifications represent a gross oversimplication of the situation. Almost every muscle received innervation from two or more segments. There is an excellent web site (Wheeless' Textbook of Orthopedics) that gives details of the muscle innervation.
            <br><br>
            In summary, the spinal cord segments serve specific motor and sensory regions of the body. The sensory regions are called dermatomes with each segment of the spinal cord innervating a particularly area of skin. The distribution of these dermatomes is relatively straightforward except on the limbs. In the arms, the cervical dermatomes C5 to T1 are arrayed from proximal radial (C5) to distal (C6-8) and proximal medial (T1). In the legs, the L1 to L5 dermatomes cover the front of the leg from proximal to distal while the sacral dermatomes cover the back of the leg.
      </p>

      <img id="sensoryImg" src="media/sensorychart.png" style="float: right;">
      <div class="clear"></div>

      <a id="injuryLevels"><p class="sectionContent"><span class="boldSection">Spinal Cord Injury Levels</span></a> <br><br>
              Differences between neurological and rehabilitation definitions of spinal cord injury levels.
              <br><br>
              Doctors use two different definitions for spinal cord injury levels. Given the same neurological examination and findings, neurologists and physiatrists may not assign the same spinal cord injury level. In general, neurologists define the level of injury as the first spinal segmental level that shows abnormal neurological loss. Thus, for example, if a person has loss of biceps, the motor level of the injury is often said to be C4. In contrast, physiatrists or rehabilitation doctors tend to define level of injury as the lowest spinal segmental level that is normal. Thus, if a patient has normal C3 sensations and absent C4 sensation, a physiatrist would say the sensory level is C3 whereas a neurologist or neurosurgeon would call it a C4 injury level. Most orthopedic surgeons tend to refer to the bony level of injury as the level of injury.
              <br><br>
              EXAMPLE. The most common cervical spinal injuries involve C4 or C5. Take, for example, a person who has had a burst fracture of the C5 vertebral body. A burst fracture usually indicates severe trauma to vertebral body that typically injures the C6 spinal cord situated at the C5 vertebrae and also the C4 spinal roots that exits the spinal column between the C4 and C5 vertebra. Such an injury should cause a loss of sensations in C4 dermatome and weak deltoids (C4) due to injury to the C4 roots. Due to edema (swelling of the spinal cord), the biceps (C5) may be initially weak but should recover. The wrist extensors (C6), however, should remain weak and sensation at and below C6 should be severely compromised. A neurosurgeon or neurologist examining the above patient usually would conclude that there is a burst fracture at C5 from the x-rays, an initial sensory level at C4 (the first abnormal sensory dermatome) and the partial loss of deltoids and biceps would imply a motor level at C4 (the highest abnormal muscle level). Over time, as the patient recovers the C4 roots and the C5 spinal cord, both the sensory level and motor level should end up at C6. Such recovery is often attributed to "root" recovery. On the other hand, a physiatrist would conclude that the patient initially has a C3 sensory level, a C4 motor level, and a C5 vertebral injury level. If the patient recovers the C4 root and the C5 cord, the physiatrist would conclude that both the sensory and motor levels are C5.
              <br><br>
              Discrepant lower thoracic vertebral and cord levels. The spinal vertebral and cord segmental levels become increasingly discrepant further down the spinal column. For example, a T8 vertebral injury will result in a T12 spinal cord or neurological level. A T11 vertebral injury, in fact, will result in a L5 lumbar spinal cord level. Most patients and even many doctors do not understand how discrepant the vertebral and spinal cord levels can get in the lower spinal cord.
              <br><br>
              EXAMPLE. The most common thoracic spinal cord injury involves T11 and T12. A patient with a T11 vertebral injury may have or recover sensations in the L1 through L4 dermatomes, which include the front of the leg down to the mid-shin level. In addition, such a patient should recover hip extensors, knee extensors, and even ankle dorsiflexion. However, the sacral functions, including bowel and bladder and many of the flexor functions of the leg may be absent or weak. As in the case of cervical and thoracic spinal cord injury, it is important to assess both sensory and motor function.
              <br><br>
              Conus and Cauda Equina Injuries
              Injuries to the spinal column at L2 or lower will damage the tip of the spinal cord, called the conus, or the spray of spinal roots that are descending to the appropriate spinal vertebral levels to exit the spinal canal or the caudal equina. Please note that the spinal roots for L2 through S5 all descend in the cauda equina and injury to these roots would disrupt sensory and motor fibers from these segments. Strictly speaking, the spinal roots are part of the peripheral nervous system as opposed to the spinal cord. Peripheral nerves are supposed to be able to regenerate to some extent. However, the spinal roots are different from peripheral nerves in two respects. First, the neurons from which sensory axons emanate are situated in the dorsal root ganglia (DRG), which are located just outside the spinal column. One branch of the DRG goes into the spinal cord (called the central branch) and the other is the peripheral branch. Thus, a spinal root injury is damaging the central branch of the sensory nerve, whereas peripheral nerve injury usually damages the peripheral branch. The sensory axon must grow back into the spinal cord in order to restore function and they generally will not do so because of axonal growth inhibitors in the spinal cord and in particular at the so-called PNS-CNS junction at the dorsal root entry zone. Second, the cauda equina contains the ventral roots of the spinal cord, through which the motor axons of the spinal cord pass to innervate muscles. If the injury to the ventral root is close to the motoneurons that sent the axons, the injury may damage the motoneuron itself. Both of these factors significantly reduce the likelihood of neurological recovery in a cauda equina injury compared to a peripheral nerve injury.
        </p>

        <a id="incomplete"><p class="sectionContent"><span class="boldSection">Complete Vs. incomplete injury</span></a> <br><br>
                Most clinicians commonly describe injuries as "complete" or "incomplete." Traditionally, "complete" spinal cord injury means having no voluntary motor or conscious sensory function below the injury site. However, this definition is often difficult to apply. The following three examples illustrate the weaknesses and ambiguity of the traditional definition. The ASIA committee considered these questions when it formulated the classification system for spinal cord injury in 1992.
                <br><br>
                  Zone of partial preservation. Some people have some function for several segments below the injury site but below which no motor and sensory function was present.
                  This is, in fact, rather common. Many people have zones of partial preservation. Is such a person "complete" or "incomplete," and at what level?
                <br><br>
                  Lateral preservation. A person may have partial preservation of function on one side but not the other or at a different level. For example, if a person has a C4 level on
                  one side and a T1 level on the other side, is the person complete and at what level?
                <br><br>
                  Recovery of function. A person may initially have no function below the injury level but recovers substantial motor or sensory function below the injury site. Was that
                  person a "complete" spinal cord injury and became "incomplete"? This is not a trivial question, because if one has a clinical trial that stipulates "complete" spinal cord
                  injuries, a time must be stipulated for when the status was determined.
                <br><br>
                Most clinicians would regard a person as complete if the person has any level below which no function is present. The ASIA Committee decided to take this criterion to its logical limit, i.e. if the person has any spinal level below which there is no neurological function, that person would be classified as a "complete" injury. This translates into a simple definition of "complete" spinal cord injury: a person is a "complete" if they do not have motor and sensory function in the anal and perineal region representing the lowest sacral cord (S4-S5).
                <br><br>
                The decision to make the absence and presence of function at S4-5 the definition for "complete" injury not only resolved the problem of the zone of partial preservation and lateral preservation of function, but it also resolved the issue of recovery of function. As it turns out, very few patients who have loss of S4/5 function recovered such function spontaneously. As shown in figure 3 below, while this simplifies the criterion for assessing whether an injury is "complete," the ASIA classification committee decided that both motor and sensory levels should be expressed on each side separately, as well as the zone of partial preservation.
                <br><br>
                In the end, the whole issue of "complete" versus "incomplete" injury may be a moot issue. The absence of motor and sensory function below the injury site does not necessarily mean that there are no axons that cross the injury site. Many clinicians equate a "complete" spinal cord injury with the lack of axons crossing the injury site. However, much animal and clinical data suggest that an animal or person with no function below the injury site can recover some function when the spinal cord is reperfused (as in the case of an arteriovenous malformation causing ischemia to the cord), decompressed (in the case of a spinal cord that is chronically compressed), or treated with a drug such as 4-aminopyridine. The labeling of a person as being "complete" or "incomplete,” in my opinion, should not be used to deny a person hope or therapy.
          </p>

          <a id="classys"><p class="sectionContent"><span class="boldSection">Classification of Spinal Cord Injury Severtiy</span></a> <br><br>
                  Clinicians have long used a clinical scale to grade severity of neurological loss. First devised at Stokes Manville before World War II and popularized by Frankel in the 1970's, the original scoring approach segregated patients into five categories, i.e. no function (A), sensory only (B), some sensory and motor preservation (C), useful motor function (D), and normal (E).
                  <br><br>
                  The ASIA Impairment Scale is follows the Frankel scale but differs from the older scale in several important respects. First, instead of no function below the injury level, ASIA A is defined as a person with no motor or sensory function preserved in the sacral segments S4-S5. This definition is clear and unambigous. ASIA B is essentially identical to Frankel B but adds the requirement of preserved sacral S4-S5 function. It should be noted that ASIA A and B classification depend entirely on a single observation, i.e. the preservation of motor and sensory function of S4-5.
                  <br><br>
                  The ASIA scale also added quantitive criteria for C and D. The original Frankel scale asked clinicians to evaluate the usefulness of lower limb function. This not only introduced a subjective element to the scale but also ignored arm and hand function in patients with cervical spinal cord injury. To get around this problem, ASIA stipulated that a patient would be an ASIA C if more than half of the muscles evaluated had a grade of less than 3/5. If not, the person was assigned to ASIA D.
                  <br><br>
                  ASIA E is of interest because it implies that somebody can have spinal cord injury without having any neurological deficits at least detectable on a neurological examination of this type. Also the ASIA motor and sensory scoring may not be sensitive to subtle weakness, presence of spasticity, pain, and certain forms of dyesthesia that could be a result of spinal cord injury. Note that such a person would be categorized as an ASIA E.
                  <br><br>
                  These changes in the ASIA scale significantly improved the reliability and consistency of the classification. Although it was more logical, the new definition of "complete" injury does not necessarily mean that it better reflects injury severity. For example, is there any situation where a person could be an ASIA B and better off the ASIA C or even ASIA D?
                  <br><br>
                  The new ASIA A categorization turns out to be more predictive of prognosis than the previous definition where the presence of function several segments below the injury site but the absence of function below a given level could be interpreted as an "incomplete" spinal cord injury.
                  <br><br>
                  The ASIA committee also classified incomplete spinal cord injuries into five types. A central cord syndrome is associated with greater loss of upper limb function compared to the lower limbs. The Brown-Sequard syndrome results from a hemisection lesion of the spinal cord. Anterior cord syndrome occurs when the injury affects the anterior spinal tracts, including the vestibulospinal tract. Conus medullaris and cauda equina syndromes occur with damage to the conus or spinal roots of the cord.
                  <br><br>
                  <br><br>
                  <a id="conclusion"><span class="boldSection">Conclusion</span></a>
                  <br><br>
                  Much confusion surrounds the terminology associated with spinal cord injury levels, severity, and classification. The American Spinal Injury Association tried to sort some of these issues and standardize the language that is used to describe spinal cord injury. The ASIA Spinal Cord Injury Classification approach has now been adopted by almost every major organization associated with spinal cord injury. This has resulted in more consistent terminology being used to describe the findings in spinal cord injury around the world.
            </p>


      </div>
    </div>



<!-- FOOTER -->

<div class="footer_container footFlex">
                                <div class="containerFlex">

                                  <div class="actionFoot">
                                    <h3 id="footHead">Take Action</h3>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=2" id="footA">Donate</a></p>
                                        <p id="footP"><a href="events.html" id="footA">Events</a></p>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=1" id="footA">Event Registration</a></p>
                                        <p id="footP"> <a href="help.html" id="footA">Contact Us</a></p>
                                  </div>

                                  <div class="actionFoot">
                                    <h3 id="footHead">More About Us</h3>
                                      <p id="footP"><a href="http://www.mcpf.org/Pages/Register.aspx" id="footA">Newsletter</a></p>
                                      <p id="footP"><a href="aboutmcpf.html" id="footA">About MCPF</a></p>
                                      <p id="footP"><a href="videos.html" id="footA">Recent Videos</a></p>
                                      <p id="footP"><a href="sponsors.html" id="footA"> Sponsors</a></p>
                                  </div>
                                  <div class="actionFoot">
                                    <h3 id="footHead">Understanding</h3>
                                      <p id="footP"><a href="faq.html" id="footA">FAQ</a></p>
                                      <p id="footP"><a href="recent.html" id="footA">Recently Injured</a></p>
                                      <p id="footP"><a href="aboutsci.html" id="footA">About SCI</a></p>
                                      <p id="footP"><a href="news.html" id="footA">Research</a></p>
                                      <p id="footP"><a href="resources.html" id="footA">Resources</a></p>
                                  </div>


                                <div class="seal_container">
                                    <img src="../assets/img/SmartgiversSeal.png"><br><br>
                                    <img src="../assets/img/GSX-gold-logo.png">
                                </div>

                              </div>
                            </div>
                            <p id="copyw">&copy; 2017 Morton Cure Paralysis Fund</p>

  </body>

<link rel="stylesheet" href="/assets/css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/basic.js"></script>


</html>
