<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MCPF</title>
  </head>
  <body>

      <!-- HEADER -->

      <div class="logoBar">

        <div class="innerLogo">

            <div class="space">
                  <a href="index.html"> <img id="whiteLogo" src="media/white_logo_mcpf.png" alt=""> </a>
            </div>

                  <p class="space title">Morton Cure Paralysis Fund</p>


            <!-- <div class="tagLine"> -->
                  <p class="space tagLine" id="flexEnder">That All May Walk Again</p>
            <!-- </div> -->

        </div>
      </div>
      <div class="menuBar">

        <div class="innerMenu">

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutsci.html" id="menuA"><p class=" menuText hoverMenu">About SCI</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutmcpf.html" id="menuA"><p class=" menuText hoverMenu">About MCPF</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="news.html" id="menuA"><p class=" menuText hoverMenu">News</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="resources.html" id="menuA"><p class=" menuText hoverMenu">Resources</p></a>
                </div>
           </div>

           <div class="innerMenuInner">
               <div class="innerMenuInnerMenu">
                  <a href="help.html" id="menuA"><p class=" menuText2 hoverMenu">Get Involved</p></a>
                </div>
            </div>


        </div>
      </div>


<!-- CONTENT -->

  <div class="headerImageMCPF">
      <!-- <div class="imgChanger"></div> -->
      <div class="buttonposition">
        <a href="help.html" id="noDeco"><button class="headerButton buttonTop">Get Involved Now!</button></a>
      </div>
      <!-- <img class="oldPeople" src="media/rehabCouple.jpg" alt=""> -->
  </div>

    <!-- Content Start -->

    <div class="contentContainer">
      <div class="contentWrapper">
        <p class="sectionContent margTop"><img class="petah" src="media/peter.png" alt="">
          In 1995, shortly after Christopher Reeve was injured, Peter Morton broke his neck in a bicycle accident that left him paralyzed from the neck down and unable to breathe without a ventilator.
<br><br>
Devastated by the tragic accident, friends turned their hurt into hope. With little more than their dream, That All May Walk Again, they launched a small-town golf tournament to raise funds for spinal cord injury research—and the Morton Cure Paralysis Fund was born. Since those humble beginnings, MCPF has relocated to the Twin Cities and, 21 years later, has now raised over $4.2 million for cutting-edge research.
<br><br>
In addition, MCPF hosts an annual research symposium featuring some of the world's top spinal cord injury research scientists, free to all those affected by spinal cord injury.
<br><br>
MCPF also is a caring resource to those that are newly injured and their families. We know what a desperate and hopeless experience this time can be. Having someone who understands and can help answer questions can be so meaningful during this time.
<br><br>
MCPF has kept total expenses under 15% of revenues, thus investing over 85% of your contributions into research grants that will ultimately benefit those with Alzheimer's, Parkinson’s, Multiple Sclerosis, ALS, and other conditions of the central nervous system. Fed by a dream built on love and friendship, MCPF works hard—That All May Walk Again!
</p>
      </div>
    </div>

    <div class="midPicMCPF1"></div>

    <!-- More Content!! -->

      <div class="contentContainer">
        <div class="contentWrapper">
          <h3 class="sectionHeader">Our Strategy</h3>
            <p class="sectionContent">
            <span class="boldSection">  MCPF Feeds the Research Pipeline </span> <br><br>
New research ideas start small and require significant testing. The Morton Cure Paralysis Fund has defined a niche that adds impetus to this process. MCPF looks for cutting-edge ideas, enabling researchers to gather the proof-of-concept data needed to pursue multimillion-dollar grants from large financiers such as the National Institutes of Health (NIH), the Christopher Reeve Foundation, and the National Science Foundation. In effect, MCPF helps place new research products in the investigation pipeline.
<br><br>
This strategy of seeking out and validating cutting-edge research and helping it make the leap into the mainstream multiplies the impact of your contributions. For example, MCPF supported Mayo Clinic with a $25,000 grant to develop a biopolymer spinal cord implant. Successful results enabled the researcher to win a $1.5 million competitive grant from NIH to fully develop the approach.
<br><br>
<span class="boldSection">MCPF Holds the Line on Expenses</span> <br><br>
“Every dollar must count!” is a major tenet of MCPF. To hold expenses down, MCPF has remained an all-volunteer organization throughout most of its history, with thousands of man-hours and materials donated by generous volunteers and sponsors. This stewardship has earned the respect of our donors. Following the 2000 market crash, several corporate sponsors with trimmed budgets maintained MCPF funding because they saw that our funds stayed focused on our mission. The more money we keep focused on research, the faster people in wheelchairs will stand and walk again!</p>

        </div>
      </div>

      <div class="midPicMCPF2"></div>

      <div class="contentContainer">
        <div class="contentWrapper">
          <h3 class="sectionHeader">Our Process</h3>
            <p class="sectionContent">
                <span class="boldSection">MCPF Assures Quality</span> <br><br>
                MCPF utilizes a project-focused approach to target your donations where they will have the greatest impact. Our grant application review process continues to ensure only the highest quality projects are funded.
                <br><br>
                Grant applications are subject to peer review by experts in the field who evaluate the quality of the science, the capabilities of the scientists and their laboratories, and the project’s potential for accelerating new treatments. MCPF reviewers each have more than fifteen years of experience and are themselves top scientists in their fields. This approach enables MCPF to maximize the research value of your donations.
                <br><br>
                <span class="boldSection">MCPF Values New Ideas and Collaboration</span> <br><br>
                Projects that survive peer review are weighed against MCPF grant guidelines. MCPF places heavy emphasis on the ability of grantees to generate proof-of-concept data that will enable the project to reach the next level of development. MCPF requires all funded scientists to communicate publication-worthy results in order to improve collaboration and accelerate the arrival of the day when a spinal cord injury will not mean spending the rest of your life wheelchair bound.
            </p>

        </div>
      </div>

      <div class="midPicMCPF3"></div>

      <div class="contentContainer">
        <div class="contentWrapper">
          <h3 class="sectionHeader">The Results</h3>
            <p class="sectionContent">
                <span class="boldSection">MCPF Supports World-Class Laboratories</span> <br><br>
                Throughout our history, we have facilitated paralysis research at top-notch laboratories such as the Miami Project, the Spinal Cord Injury Project at Rutgers, Johns Hopkins, and more. Aligning our funding with laboratories of this quality has helped ensure the excellence of the science we actively support.
                <br><br>
                <span class="boldSection">MCPF Impacts Research</span> <br><br>
                Paralysis from spinal cord injury is a multifaceted problem; its cure will require multiple discoveries. MCPF has supported cutting-edge research in such promising arenas as blocking glial scar formation, developing new cells from umbilical cord stem cells, remyelination, axon growth, polymer bridging, and many others. All have advanced scientific learning; the majority resulted in larger institutional grants for more extensive testing.
                <br><br>
                <span class="boldSection">MCPF Reseach Reaches Around the World</span> <br><br>
                The research funded with your donations has been presented at the largest national and international neuroscience symposiums around the world.
                <br><br>
                <span class="boldSection">Our Bottom Line</span> <br><br>
                Through the Morton Cure Paralysis Fund, your limited resources will become directly responsible for the birth of new methods and discoveries that provide maximum scientific impact, moving science closer to a cure. More importantly, you give hope—That All May Walk Again!
            </p>

        </div>
      </div>

      <div class="midPicMCPF4"></div>

      <div class="contentContainer">
        <div class="contentWrapper">
          <h3 class="sectionHeader">Directors and Staff</h3>
            <p class="sectionContent">
                      <span class="bolderBiggerSection">Officers</span> <br><br><br>
                      <span class="boldSectionG">Jon Stevens, President and Chairman</span> <br><br>
                      Managing Director, Director of Research <br>
                      <a id="externalLink" href="https://www.nuveen.com/NuveenAssetManagement/Default.aspx">Nuveen Asset Management</a> <br><br><br>
                      <span class="boldSectionG">Peter Morton, Executive Director</span> <br><br>
                      Prior to injury, CFO, <br> Regional Operations Group
                      RBC Dain Rauscher<br><br><br>
                      <span class="boldSectionG">Ron Engebretsen, Treasurer</span> <br><br>
                      Owner, <a href="https://www.craveamerica.com/" id="externalLink">Crave</a><br><br><br>
                      <span class="boldSectionG">Tim Becker, Secretary</span> <br><br>
                      Senior Vice President,  <a href="https://about.bankofamerica.com/en-us/index.html" id="externalLink">Bank of America</a><br><br><br>
                      <span class="boldSectionG">Joan Hinnenkamp</span> <br><br>
                      Vice President / Relationship Manager <br>
                      <a id="externalLink" href="https://www.wellsfargo.com/">Wells Fargo Institutional Retirement and Trust</a> <br><br><br>

<!-- ~~~~~~~~~~~~~ -->

<span class="bolderBiggerSection">Staff</span> <br><br><br>
<span class="boldSectionG">Tony Branch</span> <br><br>
Principal Legal Counsel <br>
<a id="externalLink" href="http://www.medtronic.com/us-en/about.html">Medtronic, Inc</a> <br><br><br>

<span class="boldSectionG">Scott DeWitt</span> <br><br>
Executive Vice President, <br>
<a id="externalLink" href="http://www.afpi.com/AFPI-Inc/">American Financial Printing, Inc.</a> <br><br><br>

<span class="boldSectionG">Tim Hennessy</span> <br><br>
Chief Financial Officer, <br>
<a id="externalLink" href="http://www.cariboucoffee.com/corporate-folder/our-company">Caribou Coffee Company</a> <br><br><br>

<span class="boldSectionG">Kirk Hoaglund</span> <br><br>
President and Chief Executive Officer, <br>
<a id="externalLink" href="http://www.clientek.com/">Clientek, Inc.</a> <br><br><br>

<span class="boldSectionG">James D. Palmer</span> <br><br>
Director, Chief Investment Officer, <br>
<a id="externalLink" href="https://www.usbancorpassetmanagement.com/">US Bancorp Asset Management</a> <br><br><br>

(more coming)

            </p>

        </div>
      </div>




<!-- FOOTER -->

<div class="footer_container footFlex">
                                <div class="containerFlex">

                                  <div class="actionFoot">
                                    <h3 id="footHead">Take Action</h3>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=2" id="footA">Donate</a></p>
                                        <p id="footP"><a href="events.html" id="footA">Events</a></p>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=1" id="footA">Event Registration</a></p>
                                        <p id="footP"> <a href="help.html" id="footA">Contact Us</a></p>
                                  </div>

                                  <div class="actionFoot">
                                    <h3 id="footHead">More About Us</h3>
                                      <p id="footP"><a href="http://www.mcpf.org/Pages/Register.aspx" id="footA">Newsletter</a></p>
                                      <p id="footP"><a href="aboutmcpf.html" id="footA">About MCPF</a></p>
                                      <p id="footP"><a href="videos.html" id="footA">Recent Videos</a></p>
                                      <p id="footP"><a href="sponsors.html" id="footA"> Sponsors</a></p>
                                  </div>
                                  <div class="actionFoot">
                                    <h3 id="footHead">Understanding</h3>
                                      <p id="footP"><a href="faq.html" id="footA">FAQ</a></p>
                                      <p id="footP"><a href="recent.html" id="footA">Recently Injured</a></p>
                                      <p id="footP"><a href="aboutsci.html" id="footA">About SCI</a></p>
                                      <p id="footP"><a href="news.html" id="footA">Research</a></p>
                                      <p id="footP"><a href="resources.html" id="footA">Resources</a></p>
                                  </div>


                                <div class="seal_container">
                                    <img src="../assets/img/SmartgiversSeal.png"><br><br>
                                    <img src="../assets/img/GSX-gold-logo.png">
                                </div>

                              </div>
                            </div>
                            <p id="copyw">&copy; 2017 Morton Cure Paralysis Fund</p>

  </body>

<link rel="stylesheet" href="/assets/css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/basic.js"></script>


</html>
