<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MCPF</title>
  </head>
  <body>

      <!-- HEADER -->

      <div class="logoBar">

        <div class="innerLogo">

            <div class="space">
                  <a href="index.html"> <img id="whiteLogo" src="media/white_logo_mcpf.png" alt=""> </a>
            </div>

                  <p class="space title">Morton Cure Paralysis Fund</p>


            <!-- <div class="tagLine"> -->
                  <p class="space tagLine" id="flexEnder">That All May Walk Again</p>
            <!-- </div> -->

        </div>
      </div>
      <div class="menuBar">

        <div class="innerMenu">

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutsci.html" id="menuA"><p class=" menuText hoverMenu">About SCI</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutmcpf.html" id="menuA"><p class=" menuText hoverMenu">About MCPF</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="news.html" id="menuA"><p class=" menuText hoverMenu">News</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="resources.html" id="menuA"><p class=" menuText hoverMenu">Resources</p></a>
                </div>
           </div>

           <div class="innerMenuInner">
               <div class="innerMenuInnerMenu">
                  <a href="help.html" id="menuA"><p class=" menuText2 hoverMenu">Get Involved</p></a>
                </div>
            </div>


        </div>
      </div>


<!-- CONTENT -->

  <div class="headerImageEvents">
      <!-- <div class="imgChanger"></div> -->
      <div class="buttonposition">
        <a href="help.html" id="noDeco"><button class="headerButton buttonTop">Get Involved Now!</button></a>
      </div>
      <!-- <img class="oldPeople" src="media/rehabCouple.jpg" alt=""> -->
  </div>

<div class="contentContainer">
  <div class="contentWrapper">

    <h3 class="sectionHeader">Minnesota Golf Tournament</h3>
    <p class="sectionContent">The 22nd Annual MCPF Golf Tournament took place on Thursday, September 7, 2017 at the beautiful Majestic Oaks Golf Club in Ham Lake, Minnesota. (insert quip about the day)
<br><br><br>
    <span class="boldSection">Majestic Oaks Golf Club</span><br><br>

Located just 20 minutes North of the Twin Cities, Majestic Oaks features two 18-hole courses, one executive nine-hole course, and a driving range. Each course has its own unique layout, designed to play comfortable for the beginner, yet challenge and bring back the most experienced players day after day.
<br><br>
701 Bunker Lake Blvd <br>
Ham Lake, MN 55304 <br>
Phone (763) 755-2142 <br>
<a href="http://www.majesticoaksgolfclub.com/" id="externalLink">http://www.majesticoaksgolfclub.com/</a> <br><br><br>

<span class="boldSection">Signature Course</span> <br><br>
Designed by Charles Maddox <br>
18 holes, par 72, 6,561 yards, slope 125 <br>
Ranked among Golf Digest's Top 75 Public Courses in 1990 <br><br>

<span class="boldSection">Crossroads Course</span> <br><br>
Designed by Garrett Gill <br>
18 holes, par 72, 5,879 yards, slope 125 <br><br>


(Information courtesy of Golf Digest Magazine)

</p>
  </div>
</div>

<div class="midPicEvents1"></div>

<div class="contentContainer">
  <div class="contentWrapper">

    <h3 class="sectionHeader">Arizona Golf Tournament</h3>
    <p class="sectionContent">The Sixth Annual Phoenix MCPF Golf Tournament took place on Friday, March 3, 2017 at Arizona Grand Resort in Phoenix, Arizona. (insert quip about the day)
<br><br><br>
    <span class="boldSection">Arizona Grand Golf Course</span><br><br>

    For over two decades, Arizona Grand Golf Course has supported the rich tradition of the game with its unique links course, featuring panoramic views of the surrounding desert landscape. Dramatic elevation changes and breathtaking mountain vistas highlight the diverse and challenging par 71 layout. The course compliments the grandeur of the spectacular Sonoran desert with stunning conditions and a service staff committed to creating exceptional experiences for players of all ability levels.
<br><br>
    8000 S. Arizona Grand Parkway <br>
    Phoenix, Arizona 85044 <br>
    Phone (602) 438-9000 <br>
    <a href="http://www.arizonagrandresort.com/" id="externalLink">http://www.arizonagrandresort.com/</a>
<br><br><br>

Originally it was called The Pointe Golf Club at South Mountain and later was known as Phantom Horse, but by any name, this picturesque layout is one memorable golf experience. Created by Forrest Richardson, a well-known Arizona architect who has a passion for design history, Arizona Grand dazzles golfers with its blend of traditional links, desert influences and strategic routing.
<br><br>
(Information courtesy of Arizona Golf Authority)

</p>
  </div>
</div>

<div class="midPicEvents2"></div>


<!-- FOOTER -->

<div class="footer_container footFlex">
                                <div class="containerFlex">

                                  <div class="actionFoot">
                                    <h3 id="footHead">Take Action</h3>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=2" id="footA">Donate</a></p>
                                        <p id="footP"><a href="events.html" id="footA">Events</a></p>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=1" id="footA">Event Registration</a></p>
                                        <p id="footP"> <a href="help.html" id="footA">Contact Us</a></p>
                                  </div>

                                  <div class="actionFoot">
                                    <h3 id="footHead">More About Us</h3>
                                      <p id="footP"><a href="http://www.mcpf.org/Pages/Register.aspx" id="footA">Newsletter</a></p>
                                      <p id="footP"><a href="aboutmcpf.html" id="footA">About MCPF</a></p>
                                      <p id="footP"><a href="videos.html" id="footA">Recent Videos</a></p>
                                      <p id="footP"><a href="sponsors.html" id="footA"> Sponsors</a></p>
                                  </div>
                                  <div class="actionFoot">
                                    <h3 id="footHead">Understanding</h3>
                                      <p id="footP"><a href="faq.html" id="footA">FAQ</a></p>
                                      <p id="footP"><a href="recent.html" id="footA">Recently Injured</a></p>
                                      <p id="footP"><a href="aboutsci.html" id="footA">About SCI</a></p>
                                      <p id="footP"><a href="news.html" id="footA">Research</a></p>
                                      <p id="footP"><a href="resources.html" id="footA">Resources</a></p>
                                  </div>


                                <div class="seal_container">
                                    <img src="../assets/img/SmartgiversSeal.png"><br><br>
                                    <img src="../assets/img/GSX-gold-logo.png">
                                </div>

                              </div>
                            </div>
                            <p id="copyw">&copy; 2017 Morton Cure Paralysis Fund</p>

  </body>

<link rel="stylesheet" href="/assets/css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/basic.js"></script>


</html>
