<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MCPF</title>
  </head>
  <body>

      <!-- HEADER -->

      <div class="logoBar">

        <div class="innerLogo">

            <div class="space">
                  <a href="index.html"> <img id="whiteLogo" src="media/white_logo_mcpf.png" alt=""> </a>
            </div>

                  <p class="space title">Morton Cure Paralysis Fund</p>


            <!-- <div class="tagLine"> -->
                  <p class="space tagLine" id="flexEnder">That All May Walk Again</p>
            <!-- </div> -->

        </div>
      </div>
      <div class="menuBar">

        <div class="innerMenu">

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutsci.html" id="menuA"><p class=" menuText hoverMenu">About SCI</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutmcpf.html" id="menuA"><p class=" menuText hoverMenu">About MCPF</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="news.html" id="menuA"><p class=" menuText hoverMenu">News</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="resources.html" id="menuA"><p class=" menuText hoverMenu">Resources</p></a>
                </div>
           </div>

           <div class="innerMenuInner">
               <div class="innerMenuInnerMenu">
                  <a href="help.html" id="menuA"><p class=" menuText2 hoverMenu">Get Involved</p></a>
                </div>
            </div>


        </div>
      </div>




<!-- CONTENT -->

  <div class="headerImageSponsors">
      <!-- <div class="imgChanger"></div> -->
      <div class="buttonposition">
        <a href="help.html" id="noDeco"><button class="headerButton buttonTop">Get Involved Now!</button></a>
      </div>
      <!-- <img class="oldPeople" src="media/rehabCouple.jpg" alt=""> -->
  </div>

  <div class="contentContainer">
    <div class="contentWrapper">

      <h3 class="sectionHeader">Frequently Asked Questions</h3>
      <p class="sectionContent">

<span class="bolderBiggerSection">Wise Young, Ph.D., M.D.
W. M. Keck Center for Collaborative Neuroscience
Rutgers University, Piscataway, NJ
</span><br><br>
<span class="boldSectionG">Over the years, many questions recur repeatedly every few days.
Let me try to recap the answers to these questions.</span> <br><br><br>

        <span class="boldSection">Will there be a cure for spinal cord injury?</span> <br><br>
        The answer to this question depends on one's definition of a cure. If a cure means eradication of spinal cord injury, I think that it is unlikely in my lifetime. If a cure means complete restoration of all function to "normal" or pre-injury levels for all people with spinal cord injury, I think that that this is also unlikely, because we probably will not have therapies that can completely reverse aging.
        <br><br>
        On the other hand, I believe that there will be effective therapies that will restore function to people with spinal cord injury, including touch and pain sensations, bladder and bowel function, erection and ejaculation, and motor control including long-distance walking.
        <br><br>
        Several years ago, I tried to get around the problem of the definition of "cure" by proposing that a person would be cured if a well-informed observer cannot tell that a person has had spinal cord injury. This does not necessarily mean that the person has been completely restored to pre-injury levels or all functions are normal.
<br><br><br>

          <span class="boldSection">When will a cure be available?</span> <br><br>
          Some therapies are already restoring substantial function to some people. These are what I call the first generation therapies, which include weight-supported treadmill ambulation training, decompression and untethering of a spinal cord that is compressed. Preliminary data suggest that some cell transplants such as olfactory en-sheathing glial (OEG) transplants will restore 4-8 levels of sensory function and 1-2 levels of motor function. None of these therapies can be construed as a cure.
          <br><br>
          Second generation therapies are beginning to come into clinical trial and should be available in a few years. These include transplants of nasal mucosa olfactory en-sheathing glia, Schwann cells, bone marrow stem cells, and perhaps even embryonic stem cells. The last unfortunately has been mired in political debate and has been delayed. In addition, several therapies such as Nogo receptor blockers and Nogo antibodies, glial-derived neurotropic factor, chondroitinase, and other treatments are being developed and may be in clinical trial within a year or two. The timing depends on availability of funding for clinical trials. If sufficient funding were available, some of these treatments will be shown to be effective and will be available in four years.
          <br><br>
          Third generation therapies will be closer to what we might consider a "cure." These include possible combination cell transplant therapies with growth factors and other factors that stimulate regeneration, stem cells that can deliver growth factors and replace moto-neurons. These combination therapies should produce substantial recovery in most people. For example, cell transplants combined with drugs such as glial-derived neurotropic factor, chondroitinase ABC, and cAMP/rolipram have been reported to produce significantly better regeneration in rats compared to individual treatments. The rate at which these treatments get into clinical trial depend on the amount of funding available for clinical trial. If funding were made available, I think that some of third generation therapies will be available as soon as eight years from now.
          <br><br><br>

          <span class="boldSection">Will a cure work for chronic spinal cord injury?</span> <br><br>
            Yes, I believe so for the following reasons: <br><br>
            First, much animal and human data suggest that regeneration of relatively few axons can restore function such as walking, bladder function, and sexual function. This is because the spinal cord contains much of the neural circuitry necessary to execute and control these functions. Probably about 10% of the axons in the spinal cord are necessary and sufficient to restore substantial function including walking. <br><br>
            Second, animal studies suggest that axons continue to try to regrow for long periods of time after injury. Treatments that provide a path for growth, that negate some of the factors that inhibit growth, and that stimulate axonal growth can restore function. <br><br>
            Third, while chronic spinal cord injury studies in animals are still very limited, the fact that many people continue to recover some function years after injury provide hope that these therapies will also work in chronic spinal cord injury.

          <br><br><br>

          <span class="boldSection">What can I do now to be ready for the cure?</span> <br><br>
          The first and foremost concern of people with spinal cord injury should be to take care of their body and try to prevent muscle and bone atrophy and other changes that may prevent recovery of function.
          <br><br>
          People need to engage in disciplined exercise that maintains their muscle and bone, take care of their skin, bladder, and bowels.
          <br><br>
          People should avoid procedures that cause irreversible loss of peripheral nerve and other functions. On the other hand, it is important to weigh the benefits of procedures such as tendon transfers, which can provide greater functionality and independence for people with weak hands. Likewise, certain procedures such as Mitrofanoff and bladder augmentation to reduce bladder spasticity may provide greater independence but may not be easily reversible.
          <br><br>
          Finally, many studies have shown that people with the highest levels of education after injury are more likely to have better quality of life and health. It is important that people do not neglect their brain, the most important part of their body.

            <br><br><br>
            (etc etc)




      </p>


    </div>

  </div>



<!-- FOOTER -->

<div class="footer_container footFlex">
                                <div class="containerFlex">

                                  <div class="actionFoot">
                                    <h3 id="footHead">Take Action</h3>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=2" id="footA">Donate</a></p>
                                        <p id="footP"><a href="events.html" id="footA">Events</a></p>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=1" id="footA">Event Registration</a></p>
                                        <p id="footP"> <a href="help.html" id="footA">Contact Us</a></p>
                                  </div>

                                  <div class="actionFoot">
                                    <h3 id="footHead">More About Us</h3>
                                      <p id="footP"><a href="http://www.mcpf.org/Pages/Register.aspx" id="footA">Newsletter</a></p>
                                      <p id="footP"><a href="aboutmcpf.html" id="footA">About MCPF</a></p>
                                      <p id="footP"><a href="videos.html" id="footA">Recent Videos</a></p>
                                      <p id="footP"><a href="sponsors.html" id="footA"> Sponsors</a></p>
                                  </div>
                                  <div class="actionFoot">
                                    <h3 id="footHead">Understanding</h3>
                                      <p id="footP"><a href="faq.html" id="footA">FAQ</a></p>
                                      <p id="footP"><a href="recent.html" id="footA">Recently Injured</a></p>
                                      <p id="footP"><a href="aboutsci.html" id="footA">About SCI</a></p>
                                      <p id="footP"><a href="news.html" id="footA">Research</a></p>
                                      <p id="footP"><a href="resources.html" id="footA">Resources</a></p>
                                  </div>


                                <div class="seal_container">
                                    <img src="../assets/img/SmartgiversSeal.png"><br><br>
                                    <img src="../assets/img/GSX-gold-logo.png">
                                </div>

                              </div>
                            </div>
                            <p id="copyw">&copy; 2017 Morton Cure Paralysis Fund</p>

  </body>

<link rel="stylesheet" href="/assets/css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/basic.js"></script>


</html>
