<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MCPF</title>
  </head>
  <body>

      <!-- HEADER -->

      <div class="logoBar">

        <div class="innerLogo">

            <div class="space">
                  <a href="index.html"> <img id="whiteLogo" src="media/white_logo_mcpf.png" alt=""> </a>
            </div>

                  <p class="space title">Morton Cure Paralysis Fund</p>


            <!-- <div class="tagLine"> -->
                  <p class="space tagLine" id="flexEnder">That All May Walk Again</p>
            <!-- </div> -->

        </div>
      </div>
      <div class="menuBar">

        <div class="innerMenu">

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutsci.html" id="menuA"><p class=" menuText hoverMenu">About SCI</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutmcpf.html" id="menuA"><p class=" menuText hoverMenu">About MCPF</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="news.html" id="menuA"><p class=" menuText hoverMenu">News</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="resources.html" id="menuA"><p class=" menuText hoverMenu">Resources</p></a>
                </div>
           </div>

           <div class="innerMenuInner">
               <div class="innerMenuInnerMenu">
                  <a href="help.html" id="menuA"><p class=" menuText2 hoverMenu">Get Involved</p></a>
                </div>
            </div>


        </div>
      </div>


<!-- CONTENT -->

  <div class="headerImageHelp">
      <!-- <div class="imgChanger"></div> -->
      <!-- <img class="oldPeople" src="media/rehabCouple.jpg" alt=""> -->
  </div>

    <!-- Content Start -->

    <div class="contentContainer">
      <div class="contentWrapper">
        <p class="sectionContent margTop">
For your convience we provide several levels of Donor Club donation opportunities. The donor clubs are summarized below. You may also donate any other amount. When you click on the Donate button below, you will be directed to DonorPerfect, our processing partner. Transactions with DonorPerfect are secure and credit-card payment is quick and easy. .
<br><br>
YOUR FINANCIAL SUPPORT IS GREATLY APPRECIATED!
        </p>
        <div id="helper">
        <!-- <a id="helper" href="http://www.mcpf.org/Pages/Register.aspx"> -->
          <a id="noDeco" href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=2"><button class="registerbutton button3" id="myBtn">Donate Now</button></a>
        <!-- </a> -->

        </div>

        <div class="center">
        <p class="donorClub">Keystone Club &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong class="rightAlign">$10,000</strong> </p>
        <p class="donorClub">Platinum Club &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong class="rightAlign">$5,000</strong> </p>
        <p class="donorClub">Gold Medal Club &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong class="rightAlign">$2,500</strong> </p>
        <p class="donorClub">Silver Medal Club &nbsp;&nbsp;&nbsp;&nbsp;	<strong class="rightAlign">$1,000</strong> </p>
        <p class="donorClub">Bronze Medal Club &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong class="rightAlign">$500</strong> </p>
        <p class="donorClub">Blue Ribbon Club &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong class="rightAlign">$250</strong> </p>
        <p class="donorClub">Red Ribbon Club &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong class="rightAlign">$100</strong> </p>
        <p class="donorClub">White Ribbon Club &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong class="rightAlign">$50</strong> </p>
        <p class="donorClub">Friend's Club &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<strong class="rightAlign">$0</strong> </p>
      </div>
    </div>
    </div>

        <div class="midPicHelp"></div>

        <div class="contentContainer">
          <div class="contentWrapper">


              <p class="sectionContent">
                  <span class="boldSection">Minnesota Address</span><br><br>
                  P.O. Box 580396 <br>
                  Minneapolis, MN, 55458-0396

                </p>

                <p class="sectionContent">
                  <span class="boldSection">Arizona Address</span><br><br>
                  4939 W. Ray Rd., Suite 4190 <br>
                  Chandler, AZ 85226
                </p>

                <p class="sectionContent">
                  <span class="boldSection">Phone</span><br><br>
                  612-904-1420
                </p>

                <p class="sectionContent">
                  <span class="boldSection">E-Mail</span><br><br>
                  <a id="externalLink" href="mailto:info@mcpf.org">info@mcpf.org</a>
              </p>

      </div>
    </div>





<!-- FOOTER -->

<div class="footer_container footFlex">
                                <div class="containerFlex">

                                  <div class="actionFoot">
                                    <h3 id="footHead">Take Action</h3>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=2" id="footA">Donate</a></p>
                                        <p id="footP"><a href="events.html" id="footA">Events</a></p>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=1" id="footA">Event Registration</a></p>
                                        <p id="footP"> <a href="help.html" id="footA">Contact Us</a></p>
                                  </div>

                                  <div class="actionFoot">
                                    <h3 id="footHead">More About Us</h3>
                                      <p id="footP"><a href="http://www.mcpf.org/Pages/Register.aspx" id="footA">Newsletter</a></p>
                                      <p id="footP"><a href="aboutmcpf.html" id="footA">About MCPF</a></p>
                                      <p id="footP"><a href="videos.html" id="footA">Recent Videos</a></p>
                                      <p id="footP"><a href="sponsors.html" id="footA"> Sponsors</a></p>
                                  </div>
                                  <div class="actionFoot">
                                    <h3 id="footHead">Understanding</h3>
                                      <p id="footP"><a href="faq.html" id="footA">FAQ</a></p>
                                      <p id="footP"><a href="recent.html" id="footA">Recently Injured</a></p>
                                      <p id="footP"><a href="aboutsci.html" id="footA">About SCI</a></p>
                                      <p id="footP"><a href="news.html" id="footA">Research</a></p>
                                      <p id="footP"><a href="resources.html" id="footA">Resources</a></p>
                                  </div>


                                <div class="seal_container">
                                    <img src="../assets/img/SmartgiversSeal.png"><br><br>
                                    <img src="../assets/img/GSX-gold-logo.png">
                                </div>

                              </div>
                            </div>
                            <p id="copyw">&copy; 2017 Morton Cure Paralysis Fund</p>

  </body>

<link rel="stylesheet" href="/assets/css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/basic.js"></script>


</html>
