<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MCPF</title>
  </head>
  <body>

      <!-- HEADER -->

      <div class="logoBar">

        <div class="innerLogo">

            <div class="space">
                  <a href="index.html"> <img id="whiteLogo" src="media/white_logo_mcpf.png" alt=""> </a>
            </div>

                  <p class="space title">Morton Cure Paralysis Fund</p>


            <!-- <div class="tagLine"> -->
                  <p class="space tagLine" id="flexEnder">That All May Walk Again</p>
            <!-- </div> -->

        </div>
      </div>
      <div class="menuBar">

        <div class="innerMenu">

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutsci.html" id="menuA"><p class=" menuText hoverMenu">About SCI</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="aboutmcpf.html" id="menuA"><p class=" menuText hoverMenu">About MCPF</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="news.html" id="menuA"><p class=" menuText hoverMenu">News</p></a>
                </div>
            </div>

            <div class="innerMenuInner">
                <div class="innerMenuInnerMenu">
                  <a href="#" id="menuA"><p class=" menuText hoverMenu">Resources</p></a>
                </div>
           </div>

           <div class="innerMenuInner">
               <div class="innerMenuInnerMenu">
                  <a href="help.html" id="menuA"><p class=" menuText2 hoverMenu">Get Involved</p></a>
                </div>
            </div>


        </div>
      </div>


<!-- CONTENT -->

  <div class="headerImageResources">
      <!-- <div class="imgChanger"></div> -->
      <div class="buttonposition">
        <a href="help.html" id="noDeco"><button class="headerButton buttonTop">Get Involved Now!</button></a>
      </div>
      <!-- <img class="oldPeople" src="media/rehabCouple.jpg" alt=""> -->
  </div>

    <!-- Content Start -->

    <div class="contentContainer" id="topMarg">
      <div class="contentWrapper">

        <h3 class="sectionHeader">Resources</h3>
          <a href="" id="externalLink"><p class="newsContent">Amy Van Dyken Foundation</p></a>
          <a href="" id="externalLink"><p class="newsContent">Bel13ve in Miracles Foundation</p></a>
          <a href="" id="externalLink"><p class="newsContent">BrainandSpinalCord.org</p></a>
          <a href="" id="externalLink"><p class="newsContent">CareCure Community</p></a>
          <a href="" id="externalLink"><p class="newsContent">Christopher Reeve Foundation</p></a>
          <a href="" id="externalLink"><p class="newsContent">ClinicalTrials.gov</p></a>
          <a href="" id="externalLink"><p class="newsContent">Facing Disability</p></a>
          <a href="" id="externalLink"><p class="newsContent">Lesiones de la Medula Espinal</p></a>
          <a href="" id="externalLink"><p class="newsContent">National Spinal Cord Injury Association</p></a>
          <a href="" id="externalLink"><p class="newsContent">Neuroxcel</p></a>
          <a href="" id="externalLink"><p class="newsContent">Rehabilitation Institute of Michigan</p></a>
          <a href="" id="externalLink"><p class="newsContent">Rick Hansen Foundation</p></a>
          <a href="" id="externalLink"><p class="newsContent">Spinal Cord Injury Information Network</p></a>
          <a href="" id="externalLink"><p class="newsContent">Spinal Cord Injury Interactive Tutorial</p></a>
          <a href="" id="externalLink"><p class="newsContent">Spinal Cord Injury Interactive Tutorial (Español)</p></a>
          <a href="" id="externalLink"><p class="newsContent">Spinal Cord Injury: Hope Through Research</p></a>
          <a href="" id="externalLink"><p class="newsContent">SPINALpedia</p></a>

          <br>
          <p class="sectionContent"><span class="boldSection">Links notice from the terms of use of this web site</span> <br><br>

            The Morton Cure Paralysis Fund Web Site may contain links to other Web Sites ("Linked Sites"). The Linked Sites are not under the control of Morton Cure Paralysis Fund and Morton Cure Paralysis Fund is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Morton Cure Paralysis Fund is not responsible for webcasting or any other form of transmission received from any Linked Site. Morton Cure Paralysis Fund is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Morton Cure Paralysis Fund of the site or any association with its operators.</p>

      </div>
    </div>

    <div class="midPicResources"></div>

    <div class="contentContainer">
      <div class="contentWrapper">

        <h3 class="sectionHeader">Grant Applications</h3>
        <p class="sectionContent">
            <span class="mini">Please Note: Hard copies are no longer needed. E-mail only.</span><br><br>

            <span class="boldSection">Process</span><br><br>

            The Morton Cure Paralysis Fund (MCPF) is committed to developing effective therapies (cures) for paralysis associated with spinal cord injury and other disorders of the central nervous system.
            <br><br>
            Qualified scientists at capable institutions will be considered for grant applications. The MCPF has a biannual application cycle with grant deadlines on April 30 and October 31. Decisions will be made within 180 days of the grant submission deadline. (Many are done quicker.)
            <br><br>
            <span class="boldSection">Funding Priorities</span> <br><br>

            MCPF supports cutting-edge ideas, enabling researchers to gather the proof-of-concept data needed to pursue multimillion-dollar grants from large financiers such as the National Institutes of Health (NIH), the Christopher Reeve Foundation, and the National Science Foundation. We also place emphasis on collaborative efforts. Further, all scientific learning as a result of our funding must be broadly communicated to the rest of the scientific community.
        </p>

        <a href="" id="pdfLink"><p class="newsContent">PDF-Research Grant Application (180k)</p></a>
        <a href="" id="pdfLink"><p class="newsContent">Word-Research Grant Application (140k)</p></a>
        <a href="" id="pdfLink"><p class="newsContent">PDF-MCPF Research Guidelines (200k)</p></a>
        <a href="" id="pdfLink"><p class="newsContent">PDF-MCPF Research Grant Six Month and Final Report Rquirements (170k)</p></a>
        <a href="" id="pdfLink"><p class="newsContent">PDF-MCPF Grant Continuation Application (160k)</p></a>
        <br><br>

      </div>
    </div>



<!-- FOOTER -->

<div class="footer_container footFlex">
                                <div class="containerFlex">

                                  <div class="actionFoot">
                                    <h3 id="footHead">Take Action</h3>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=2" id="footA">Donate</a></p>
                                        <p id="footP"><a href="events.html" id="footA">Events</a></p>
                                        <p id="footP"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E48362&id=1" id="footA">Event Registration</a></p>
                                        <p id="footP"> <a href="help.html" id="footA">Contact Us</a></p>
                                  </div>

                                  <div class="actionFoot">
                                    <h3 id="footHead">More About Us</h3>
                                      <p id="footP"><a href="http://www.mcpf.org/Pages/Register.aspx" id="footA">Newsletter</a></p>
                                      <p id="footP"><a href="aboutmcpf.html" id="footA">About MCPF</a></p>
                                      <p id="footP"><a href="videos.html" id="footA">Recent Videos</a></p>
                                      <p id="footP"><a href="sponsors.html" id="footA"> Sponsors</a></p>
                                  </div>
                                  <div class="actionFoot">
                                    <h3 id="footHead">Understanding</h3>
                                      <p id="footP"><a href="faq.html" id="footA">FAQ</a></p>
                                      <p id="footP"><a href="recent.html" id="footA">Recently Injured</a></p>
                                      <p id="footP"><a href="aboutsci.html" id="footA">About SCI</a></p>
                                      <p id="footP"><a href="news.html" id="footA">Research</a></p>
                                      <p id="footP"><a href="resources.html" id="footA">Resources</a></p>
                                  </div>


                                <div class="seal_container">
                                    <img src="../assets/img/SmartgiversSeal.png"><br><br>
                                    <img src="../assets/img/GSX-gold-logo.png">
                                </div>

                              </div>
                            </div>
                            <p id="copyw">&copy; 2017 Morton Cure Paralysis Fund</p>

  </body>

<link rel="stylesheet" href="/assets/css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/basic.js"></script>


</html>
